doctype html
html
  head
    title= code 
    link(
      href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed'
      rel='stylesheet'
    )
    link(href='../res/css/style.css' rel='stylesheet' type='text/css')
  body
    .error
      each block in content
        if block.type == 'image'
          img.error-image(src=block.image.src alt=block.image.alt)
        if block.type == 'links'
          ul.links
            each href, label in block.links
              li
                a(href=href)!= label
      .footer
        p.text Website by:
        a(href='https://www.benandfrank.com' target='_blank')
          img.vx-logo(src='https://www.benandfrank.com/logo.png')
